<header>
    <nav>
        <div class="logo">Resto</div>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="pages/menu.html">Menu</a></li>
            <li><a href="pages/about.html">About</a></li>
            <li><a href="pages/gallery.html">Gallery</a></li>
            <li><a href="pages/contact.html">Contact</a></li>
            <li><a href="pages/reservation.html">Reservation</a></li>
        </ul>
    </nav>
</header>
